{# src/Acme/HelloBundle/Resources/views/Hello/index.html.twig #}
 {% extends 'SampleAdminBundle:Default:base.html.twig' %}

{% block body %}
    <h1>最新の記事<h1>

    {{ dump(contacts) }}

    {% for item in contacts %}
        <a href="{{ path('admin_top', {'id': item.id}) }}">
            {{ item.title }}
        </a>
    {% endfor %}

{% endblock %}